/*body
{
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
}*/

.no_margin{
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.empresas{
    text-align: center;
    margin:0 auto;
}

.fix_td tr td{
    vertical-align: middle !important;
    padding: 0px 8px !important;
}